
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */